@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1 {
    color: blue;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 3rem;
    letter-spacing: 2px;
    margin-top: 30px;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);

}




.card {
    background-color: rgba(253, 253, 253, 0.90);
    border-radius: 5px;
    margin: 10px;
    border: 1px solid black;
    padding: 5px 10px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(100, 100, 100, 0.9);
}

.card img {
    width: 100%;
}



#title {
    
    text-transform: capitalize;
    text-decoration: overline;
    padding: 20px 50px;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 0% 2%;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff3b30, #ffd700);
}



